	body {
		font-family: 'casperregular';
		font-size: 16px;	
	}

	.clearfix:after{
		clear:both;
		content:' ';
		display:block;
		font-size:0;
		line-height:0;
		visibility:hidden;
		width:0;
		height:0;
	}

	ul, ol {
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none; 
	}

	* html .clearfix,*:first-child+html .clearfix{zoom:1}
	
	.logo {
		float: left;
		margin: 15px 0;
	}

	#navsection {
	background: #ff4539;
	background-image: -webkit-linear-gradient(top, #ff4539, #ff352c);
	background-image: -moz-linear-gradient(top, #ff4539, #ff352c);
	background-image: -ms-linear-gradient(top, #ff4539, #ff352c);
	background-image: -o-linear-gradient(top, #ff4539, #ff352c);
	background-image: linear-gradient(to bottom, #ff4539, #ff352c);
	border-bottom: 6px solid #f01f2a;
	} 

	#homebg {
		background: url(../img/home-bg.jpg);
		height: 400px;
		max-width: 100%;
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: cover;
		border-bottom: 3px solid #f01f2a;
	}

	#nyscbg {
		background: url(../img/nysc-bg.jpg);
		height: 350px;
		max-width: 100%;
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: cover;
	}

	.mobile-menu {
		display: none;
	}

	#navsection {
		display: block;
	}

	nav ul li {
		display: inline;
		text-transform: uppercase;
	}

	nav ul li a {
		color: #fff;
		font-family: 'open_sanssemibold';
		font-size: 16px;
		padding: 10px 15px;
		margin-right: 40px;
		display: inline-block;
	}

	nav ul li a:hover, .active {
		background: #f01f2a;
	}

	.slog {
		width: 370px;
		margin-top: 170px;
	}

	.slog2 {
		width: 520px;
		margin-top: 120px;
	}

	.btn {
		color: #fff;
		background: #ff4338;
		padding: 10px 15px;
		font-size: 18px;
		font-family: 'open_sanssemibold';
		display: inline-block;
		margin-top: 20px;
		border-radius: 3px;
		border-bottom: 5px solid #f01f2a;
	}

	.btn:hover {
		background:  #f01f2a;
	}

	.large {
		padding: 10px 30px;
	}

	.green {
		background: #339933;
		border-bottom: 5px solid #00852b;
	}

	.green:hover {
		background: #00852b;
	}

	h2 {
		font-family: 'Nevis-Bold';
		font-size: 36px;
		color: #fff;
		margin: 0;
		text-shadow: 2px 2px 10px #000;
		text-transform: uppercase;
	}

	h2 span {
		color: #ff4338;
	}

	.quaver {
		color: #ff4338;
		text-align: center;
		font-size: 36px;
		line-height: 42px;
		font-family: 'quaver_sansregular';
	}

	p {
		font-family: 'open_sansregular';
		text-align: center;
		font-size: 16px;
		line-height: 22px;
	}

	.italic-fnt {
		font-family: 'open_sansitalic';
		color: #de252a;
	}

	.mainbody {
		margin: 40px 0;
	}

	.desc-txt {
		margin-top: 20px;
	}

	.cardlink {
		text-align: center;
		margin-top: 30px;
	}

	.cards {
		float: left;
		width: 30%;
		margin-right: 5%;
	}

	.card-ctn {
		margin-top: 46px;
	}

	#footer {
		background: #111;
		color: #fff;
		font-size: 12px;
		padding: 20px 0;
	}

	.footer-links {
		float: left;
	}

	.footer-links a {
		color: #fff;
		text-transform: uppercase;
		font-family: 'open_sansregular';
		margin-right: 20px;
	}

	.copyright {
		float: right;
		font-family: 'open_sansregular';
	}

	.social {
		text-align: center;
		padding: 30px 0;
	}

	@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Nevis-Bold';
    src:url('../fonts/Nevis-Bold.ttf.woff') format('woff'),
        url('../fonts/Nevis-Bold.ttf.svg#Nevis-Bold') format('svg'),
        url('../fonts/Nevis-Bold.ttf.eot'),
        url('../fonts/Nevis-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quaver_sansregular';
    src: url('../fonts/quaversans-webfont.eot');
    src: url('../fonts/quaversans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quaversans-webfont.woff') format('woff'),
         url('../fonts/quaversans-webfont.ttf') format('truetype'),
         url('../fonts/quaversans-webfont.svg#quaver_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@media handheld, only screen and (max-width: 320px) {


	.logo {
		margin: 5px 0;
		width: 150px;
	}

	nav ul li {
		display: block;
	}

	nav ul li a {
		font-size: 14px;
		padding: 5px 0px;
	}

	.active {
		background: none;
	}

	#homebg {
		height: 210px;
	}

	.slog {
		width: inherit;
		margin-top: 50px;
	}

	.mobile-menu {
		float: right;
		margin: 10px 0;
		font-size: 21px;
		color: #fff;
		padding: 7px 10px;
		background: #ff4539;
		border-radius: 3px;
		cursor: pointer;
	}

	h2 {
		font-size: 20px;
	}

	.btn {
		padding: 5px 8px;
		font-size: 16px;
		margin-top: 10px;
	}

	.quaver {
		font-size: 30px;
		line-height: 34px;
	}

	.desc-txt {
		margin-top: 10px;
	}

	p {
		text-align: justify;
		font-size: 14px;
		line-height: 20px;
	}

	#nyscbg {
		height: 195px;
	}

	.slog2 {
		width: inherit;
		margin-top: 45px;
	}

	.card-ctn {
		margin-top: 40px;
	}

	.footer-links {
		display: none;
	}

	.copyright {
		font-size: 10px;
		line-height: 12px;
	}

	#footer {
		padding: 10px 0;
	}

	.social img {
		max-width: 40px;
	}

	.social {
		padding: 20px 0;
	}

	#navsection {
		display: none;
	}

	.mobile-menu {
		display: block;
	}

}